<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <img src="assets/img/productos-de-limpieza.jpg">
  <ion-list *ngIf="profileObj">
    <ion-list-header>Datos del hogar</ion-list-header>
    <ion-item>
      <ion-label>Direccion</ion-label>
      <ion-input [(ngModel)]="profileObj.address" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Telefono</ion-label>
      <ion-input [(ngModel)]="profileObj.telefono" [textMask]="{mask: mask}" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Habitaciones </ion-label>
      <ion-input [(ngModel)]="profileObj.nRooms" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Baños </ion-label>
      <ion-input [(ngModel)]="profileObj.nBathrooms" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad</ion-label>
      <ion-select [(ngModel)]="profileObj.city">
        <ion-option *ngFor="let city of cities" value="{{city.$key}}" >
          {{city.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block (click)="save()">Guardar</button>
  </ion-list>
  <!--<city-list></city-list>-->
</ion-content>
